<%@ CodeTemplate Language="C#" TargetLanguage="Text" Src="..\..\Common\MasterTemplate.cs" Inherits="FullStack.Common.MasterTemplate" Description="Generates a set of HTML-based database documentation." OutputType="None" %>
<%@ Property Name="ProjectName" Type="System.String" Category="Context" Description="Database that the documentation should be based on." %>
<%@ Property Name="SourceDatabase" Type="SchemaExplorer.DatabaseSchema" Category="Context" Description="Database that the documentation should be based on." %>
<%@ Property Name="CurrentTable" Type="SchemaExplorer.TableSchema" Category="Context" Description="Database that the documentation should be based on." %>
<%@ Property Name="OutputDirectory" Type="System.String" Category="Output" Description="The name of the actual database server that is being documented." %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="System.Design" %>
<%@ Assembly Name="System.Linq" %>
<%@ Assembly Name="System.Data" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import NameSpace="System.IO" %>
<%@ Import Namespace="System.Data" %>
<% if (CurrentTable.PrimaryKey == null) 
{
    return;    
}
%>
namespace <%= this.ProjectName %>.Engine.Models
{
    using System;
    using PetaPoco;

    [PetaPoco.PrimaryKey("<%= GetPrimaryKeyName(CurrentTable) %>")]
    [PetaPoco.TableName("<%= CurrentTable.Name %>")]
    internal partial class <%= this.GetModelClassName(CurrentTable) %>
    {
        #region Public Properties
        <% if (CurrentTable.PrimaryKey != null)
        {    
        %>
        [PetaPoco.Column("<%= GetPrimaryKeyName(CurrentTable) %>")]
		public <%= GetPrimaryKeyType(CurrentTable) %> Id { get; set; }
		<% } %>
        
		<% for (int i = 0; i < CurrentTable.NonPrimaryKeyColumns.Count; i++) { %>
		public <%= GetCSharpVariableType(CurrentTable.NonPrimaryKeyColumns[i]) %> <%= GetPropertyName(CurrentTable.NonPrimaryKeyColumns[i]) %> { get; set; }
		<% if (i < CurrentTable.NonPrimaryKeyColumns.Count - 1) Response.Write("\r\n"); %>		
		<% } %>
		#endregion
    }
}
<script runat="template">

</script>