<%@ CodeTemplate Language="C#" TargetLanguage="Text" Src="..\Common\MasterTemplate.cs" Inherits="FullStack.Common.MasterTemplate" OutputType="None" CompilerVersion="v4.0" %>
<%@ Register Name="DbFactory" Template="Data\DbFactory_Static.cst" %>
<%@ Register Name="DbProviderTypes" Template="Data\DbProviderTypes_Static.cst" %>
<%@ Register Name="EngineDataClassTemplate" Template="Data\EngineDataClass.cst" %>
<%@ Register Name="EngineDataInterfaceTemplate" Template="Data\EngineDataInterface.cst" %>
<%@ Register Name="EngineModelsTemplate" Template="Models\EngineModel.cst" %>
<%@ Register Name="EngineServicesTemplate" Template="Services\EngineService.cst" %>
<%@ Register Name="ProjectTemplate" Template="../Resources/EmptyProject.cst" %>
<%@ Register Name="AssemblyInfoTemplate" Template="../Resources/AssemblyInfoTemplate.cst" %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="System.Design" %>
<%@ Assembly Name="System.Linq" %>
<%@ Assembly Name="System.Data" %>
<%@ Assembly Name="System.Xml.Linq" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import NameSpace="System.IO" %>
<%@ Import Namespace="System.Data" %>


<script runat="template">
private int _currentStep = 0;
private int _currentTableCount = 0;
private int _totalTableCount = 0;

public override void Render(TextWriter writer)
{
    this.ClearDirectory(Path.Combine(this.OutputDirectory,this.SolutionName,this.CurrentProjectAlias));
    this.ClearDirectory(Path.Combine(this.OutputDirectory,this.SolutionName,this.CurrentProjectAlias,"Models"));
    this.ClearDirectory(Path.Combine(this.OutputDirectory,this.SolutionName,this.CurrentProjectAlias,"Data"));
    this.ClearDirectory(Path.Combine(this.OutputDirectory,this.SolutionName,this.CurrentProjectAlias,"Services"));
        
    string projectLocation = Path.Combine(this.OutputDirectory,this.SolutionName,this.CurrentProjectAlias,this.CurrentProjectAlias + ".csproj");
    if (this.CreateProjectFiles)
    {
        ProjectTemplate projectTemplate = this.Create<ProjectTemplate>();
        this.CopyPropertiesTo(projectTemplate);
        projectTemplate.RenderToFile(projectLocation, true);
        this.CleanupProjectFile(projectLocation);
        
        // Copy Packages
        File.Copy(Path.Combine(this.CodeTemplateInfo.DirectoryName,"packages.config"),Path.Combine(this.OutputDirectory,this.SolutionName,this.CurrentProjectAlias,"packages.config"));
    }
    
    AssemblyInfoTemplate assemblyTemplate = this.Create<AssemblyInfoTemplate>();
    this.CopyPropertiesTo(assemblyTemplate);
    string assemblyTemplateLocation = Path.Combine(this.OutputDirectory,this.SolutionName,this.CurrentProjectAlias,"Properties","AssemblyInfo.cs");
    assemblyTemplate.RenderToFile(assemblyTemplateLocation, true);
    
    _totalTableCount = this.SourceDatabase.Tables.Count;
    _currentTableCount = 0;
    
    // ADD STATIC FILES
    
    #region STATIC DATA FILES
     File.Copy(Path.Combine(this.CodeTemplateInfo.DirectoryName,"Models","PetaPoco.txt"),Path.Combine(this.OutputDirectory,this.SolutionName,this.CurrentProjectAlias,"Models","PetaPoco.cs"));
     this.AddFileToProject(projectLocation,"Models",string.Format("PetaPoco.cs", this.GetClassName(this.CurrentTable)), string.Empty);
    
     this.BuildCurrentTableTemplate(this.Create<DbFactory>(),projectLocation,"Data","DbFactory.cs", string.Empty);
     this.BuildCurrentTableTemplate(this.Create<DbProviderTypes>(),projectLocation,"Data","DbProviderTypes.cs", string.Empty);
    
    #endregion
    
    foreach(TableSchema table in this.SourceDatabase.Tables)
    {
        this.CurrentTable = table;
        _currentTableCount++;
     
        if (this.HasValidPrimaryKey(this.CurrentTable))
        {
            _currentStep = 1;
             
            this.BuildCurrentTableTemplate(this.Create<EngineModelsTemplate>(),projectLocation,"Models","{0}Model.gen.cs","{0}Model.cs");
            this.BuildCurrentTableTemplate(this.Create<EngineDataClassTemplate>(),projectLocation,"Data","{0}Data.gen.cs","{0}Data.cs");
            this.BuildCurrentTableTemplate(this.Create<EngineDataInterfaceTemplate>(),projectLocation,"Data","I{0}Data.gen.cs","I{0}Data.cs");
            this.BuildCurrentTableTemplate(this.Create<EngineServicesTemplate>(),projectLocation,"Services","{0}Manager.gen.cs","{0}Manager.cs");
         }
    }
}
</script>