<%@ CodeTemplate Language="C#" TargetLanguage="Text" Src="..\..\Common\MasterTemplate.cs" Inherits="FullStack.Common.MasterTemplate" Description="Generates a set of HTML-based database documentation." OutputType="None" CompilerVersion="v4.0" %>
<%@ Property Name="ProjectName" Type="System.String" Category="Context" Description="Database that the documentation should be based on." %>
<%@ Property Name="SourceDatabase" Type="SchemaExplorer.DatabaseSchema" Category="Context" Description="Database that the documentation should be based on." %>
<%@ Property Name="CurrentTable" Type="SchemaExplorer.TableSchema" Category="Context" Description="Database that the documentation should be based on." %>
<%@ Property Name="OutputDirectory" Type="System.String" Category="Output" Description="The name of the actual database server that is being documented." %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="System.Design" %>
<%@ Assembly Name="System.Linq" %>
<%@ Assembly Name="System.Xml.Linq" %>
<%@ Assembly Name="System.Data" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import NameSpace="System.IO" %>
<%@ Import Namespace="System.Data" %>
<% if (CurrentTable.PrimaryKey == null) 
{
    return;    
}
%>
namespace <%= this.ProjectName %>.Engine.Services
{
    using System;
    using Vento.Engine.Models;
    using Vento.Engine.Data;
    
    internal partial class <%= this.GetManagerClassName(CurrentTable) %>
    {
        public I<%= this.GetDataClassName(CurrentTable) %> DataService { get; set; }
        
        public <%= this.GetManagerClassName(CurrentTable) %>()
        {
            this.DataService = new <%= this.GetDataClassName(CurrentTable) %>();
        }
        
        public <%= this.GetManagerClassName(CurrentTable) %>(I<%= this.GetDataClassName(CurrentTable) %> dataService)
        {
            this.DataService = dataService;
        }
    }
}
<script runat="template">

</script>