<%@ CodeTemplate Language="C#" TargetLanguage="Text" Src="..\..\Common\MasterTemplate.cs" Inherits="FullStack.Common.MasterTemplate" Description="Generates a set of HTML-based database documentation." OutputType="None" CompilerVersion="v4.0" %>
<!-- #include file="..\..\Common\HeaderInclude.cst" -->
namespace <%= this.SolutionName %>.<%= this.CurrentProjectAlias %>.Setup
{
    using System.Collections.Generic;
    
    public class UpgradeStepVersion
    {
        public UpgradeStepVersion()
        {
            Steps = new List<UpgradeStep>();
        }

        /// <summary>
        ///     The version of the upgrade
        /// </summary>
        public int Version { get; set; }

        /// <summary>
        ///     The steps for the current version
        /// </summary>
        public List<UpgradeStep> Steps { get; set; }

        /// <summary>
        ///     Indicates whether or not this version needs to be run during the upgrade sequence
        /// </summary>
        public bool IsRequired { get; set; }

        public override string ToString()
        {
            return string.Format("Version: [{0}], IsRequired: [{1}], Number of steps: [{2}]", Version, IsRequired, Steps.Count);
        }
    }
}