<%@ CodeTemplate Language="C#" TargetLanguage="Text" Src="..\..\Common\MasterTemplate.cs" Inherits="FullStack.Common.MasterTemplate" Description="Generates a set of HTML-based database documentation." OutputType="None" %>
<!-- #include file="..\..\Common\HeaderInclude.cst" -->
namespace <%= this.SolutionName %>.<%= this.CurrentProjectAlias %>.Api
{
    using System;
    using System.Net.Http;
    using System.Threading.Tasks;

    using <%= this.SolutionName %>.<%= this.CurrentProjectAlias %>.Api.Models;
    using <%= this.SolutionName %>.<%= this.CurrentProjectAlias %>.Common;
       
    public partial class <% = this.ApiClassAlias %> : ApiBase
    {
        <% if (this.RenderBody) 
        { // START RENDERBODY
        %>
        #region Constructors and Destructors


        /// <summary>
        /// Initializes a new instance of the <see cref="<% = this.ApiClassAlias %>"/> class.
        /// </summary>
        /// <param name="sessionKey"></param>
        /// <param name="sessionExpiration"></param>
        /// <param name="url"></param>
        internal <% = this.ApiClassAlias %>(string sessionKey, DateTime sessionExpiration, string url, string developerId)
        {
            ApiCredentials.SetCredentials(sessionKey, sessionExpiration, url, developerId);

            <%
            foreach(TableSchema table in this.SourceDatabase.Tables)
            {
                if (this.HasValidPrimaryKey(table))
                {
            %>            
            this.<% = table.Name %> = new <% = this.GetClassName(table) %>Api();
            <%
                }
            } // END LOOPING THROUGH TABLES
            %>
        }

        #endregion

        #region Properties

        <%
        foreach(TableSchema table in this.SourceDatabase.Tables)
        {
            if (this.HasValidPrimaryKey(table))
            {
        %>
        public <% = this.GetClassName(table) %>Api <% = table.Name %> { get; private set; }
        <%
            }
        } // END LOOPING THROUGH TABLES
        %>
       
        #endregion
        <% } // END RENDERBODY %>        
    }
}