<%@ CodeTemplate Language="C#" TargetLanguage="Text" Src="..\..\Common\MasterTemplate.cs" Inherits="FullStack.Common.MasterTemplate" Description="Generates a set of HTML-based database documentation." OutputType="None" CompilerVersion="v4.0" %>
<!-- #include file="..\..\Common\HeaderInclude.cst" -->
namespace <%= this.SolutionName %>.<%= this.CurrentProjectAlias %>.Data
{
    using System;
    using System.Collections.Generic;
    using  <%= this.SolutionName %>.<%= this.StackProjects["Engine"].Alias %>.Models;
    
    public partial interface I<%= this.GetDataClassName(CurrentTable) %>
    {
        <% if (this.RenderBody) 
        { // START RENDERBODY
        %>
        <%= this.GetModelClassName(CurrentTable) %> Create(<%= this.GetModelClassName(CurrentTable) %> model);
        IEnumerable<<%= this.GetModelClassName(CurrentTable) %>> Read();
		<%= this.GetModelClassName(CurrentTable) %> Read(<%= this.GetPrimaryKeyType(CurrentTable) %> id);
		<%= this.GetModelClassName(CurrentTable) %> Update(<%= this.GetModelClassName(CurrentTable) %> model);
		bool Delete(<%= GetPrimaryKeyType(CurrentTable) %> id);
       <% } // END RENDERBODY %>
    }
}
<script runat="template">

</script>