<%@ CodeTemplate Language="C#" TargetLanguage="Text" Src="..\..\..\Common\MasterTemplate.cs" Inherits="FullStack.Common.MasterTemplate" Description="Generates a set of HTML-based database documentation." OutputType="None" %>
<!-- #include file="..\..\..\Common\HeaderInclude.cst" -->

namespace <%= this.SolutionName %>.<%= this.CurrentProjectAlias %>.Api.Models
{
    using System;
    
    internal partial class <%= this.GetModelClassName(CurrentTable) %>
    {
         <% if (this.RenderBody) 
        { // START RENDERBODY
        %>
        #region Public Properties
    
        public <%= GetPrimaryKeyType(CurrentTable) %> Id { get; set; }
		<% for (int i = 0; i < CurrentTable.NonPrimaryKeyColumns.Count; i++) { %>
        public <%= GetCSharpVariableType(CurrentTable.NonPrimaryKeyColumns[i]) %> <%= GetPropertyName(CurrentTable.NonPrimaryKeyColumns[i]) %> { get; set; }
		<% if (i < CurrentTable.NonPrimaryKeyColumns.Count - 1) Response.Write("\r\n"); %>		
		<% } %>
        
		#endregion
        <% } // END RENDERBODY %>
    }
}
<script runat="template">

</script>