<%@ CodeTemplate Language="C#" TargetLanguage="Text" Src="..\..\Common\MasterTemplate.cs" Inherits="FullStack.Common.MasterTemplate" Description="Generates a set of HTML-based database documentation." OutputType="None" CompilerVersion="v4.0" %>
<!-- #include file="..\..\Common\HeaderInclude.cst" -->
namespace <%= this.SolutionName %>.<%= this.CurrentProjectAlias %>.Exceptions
{
    public class InsufficientSecurityException : <%= this.SolutionName %>Exception
    {
        #region Constructors and Destructors

        public InsufficientSecurityException(string message)
            : base(message)
        {
        }

        #endregion
    }
}