<%@ CodeTemplate Language="C#" TargetLanguage="Text" Src="..\..\Common\MasterTemplate.cs" Inherits="FullStack.Common.MasterTemplate" Description="Generates a set of HTML-based database documentation." OutputType="None" CompilerVersion="v4.0" %>
<!-- #include file="..\..\Common\HeaderInclude.cst" -->
namespace <%= this.SolutionName %>.<%= this.CurrentProjectAlias %>.Exceptions
{
    using System;

    /// <summary>
    /// The basic exception in <%= this.SolutionName %> which lets us control attributes in the exception for Exceptionless
    /// </summary>
    public class <%= this.SolutionName %>Exception : Exception
    {
        public <%= this.SolutionName %>Exception(string message)
            : base(message)
        {

        }
    }
}