<%@ CodeTemplate Language="C#" TargetLanguage="Text" Src="..\..\Common\MasterTemplate.cs" Inherits="FullStack.Common.MasterTemplate" Description="Generates a set of HTML-based database documentation." OutputType="None" %>
<!-- #include file="..\..\Common\HeaderInclude.cst" -->
namespace <%= this.SolutionName %>.<%= this.CurrentProjectAlias %>
{
    using System;
    using System.Collections.Generic;
    using System.Linq;
    
    using NUnit.Framework;

    using <%= this.SolutionName %>.<%= this.StackProjects["Client"].Alias %>.Api.Models;
    using <%= this.SolutionName %>.<%= this.StackProjects["Client"].Alias %>.Common;
    using <%= this.SolutionName %>.<%= this.CurrentProjectAlias %>.Common;
    
    [TestFixture]
    public class <% = this.GetClassName(this.CurrentTable) %>Tests : ApiBase
    {      
        [Test]
        public void GetAll<%= this.GetClassName(CurrentTable) %>Test()
        {
            var api = TestHelper.GetApi();
            var apiResult = api.<%= CurrentTable.Name %>.GetAll<%= CurrentTable.Name %>();
            apiResult.Wait();
            
            ApiResponse<IEnumerable<<%= this.GetModelClassName(CurrentTable) %>>> result = apiResult.Result;
            Assert.IsNotNull(result);
            Assert.IsNotNull(result.Result);
            Assert.IsTrue(result.Result.Any());                          
        }

        [Test]
        public void Get<%= this.GetModelClassName(CurrentTable) %>ByIdTest()
        {
            <%= this.GetPrimaryKeyType(CurrentTable) %> id = 1;
            
            var api = TestHelper.GetApi();
            var apiResult = api.<%= CurrentTable.Name %>.Get<% = this.GetClassName(this.CurrentTable) %>(id);
            apiResult.Wait();
            
            ApiResponse<<%= this.GetModelClassName(CurrentTable) %>> result = apiResult.Result;
            Assert.IsNotNull(result);
            Assert.IsNotNull(result.Result);
            Assert.AreEqual(id, result.Result.Id);      
        }

        [Test]
        public void Create<%= this.GetModelClassName(CurrentTable) %>Test()
        {
            var newModel = new <%= this.GetModelClassName(CurrentTable) %>();
            newModel.Id = 0;

            var api = TestHelper.GetApi();
            var apiResult = api.<%= CurrentTable.Name %>.Create<% = this.GetClassName(this.CurrentTable) %>(newModel);
            apiResult.Wait();

            ApiResponse<<%= this.GetModelClassName(CurrentTable) %>> result = apiResult.Result;
            Assert.IsNotNull(result);
            Assert.IsNotNull(result.Result);
            Assert.AreNotEqual(0, result.Result.Id);
        }

        [Test]
        public void Update<%= this.GetModelClassName(CurrentTable) %>Test()
        {
            var newModel = new <%= this.GetModelClassName(CurrentTable) %>();
            newModel.Id = 0;

            var api = TestHelper.GetApi();
            var apiResult = api.<%= CurrentTable.Name %>.Update<% = this.GetClassName(this.CurrentTable) %>(newModel);
            apiResult.Wait();

            ApiResponse<<%= this.GetModelClassName(CurrentTable) %>> result = apiResult.Result;
            Assert.IsNotNull(result);
            Assert.IsNotNull(result.Result);
            Assert.AreNotEqual(0, result.Result.Id);
        }

         [Test]
        public void Delete<%= this.GetModelClassName(CurrentTable) %>ByIdTest()
        {
            <%= this.GetPrimaryKeyType(CurrentTable) %> id = 1;
            
            var api = TestHelper.GetApi();
            var apiResult = api.<%= CurrentTable.Name %>.Delete<% = this.GetModelClassName(this.CurrentTable) %>ById(id);
            apiResult.Wait();
            
            ApiResponse<bool> result = apiResult.Result;
            Assert.IsNotNull(result);
            Assert.IsNotNull(result.Result);
            Assert.AreEqual(true, result.Result);      
        }     
    }   
}
